h1 {
    font-size: xx-large;
    font-family: 'Times New Roman';
}

h2 {
    font-size: x-large;
    font-family: cursive;
}
h3{
    font-family: cursive;
    font-size: x-large;
}


body {
    background-color: rgb(236, 214, 246);
    color: rgb(41, 1, 69);
}